.nav {
    grid-area: n;
    background-color: #3F66C2;
    padding: 15px;
}
.item a{
    color: #fff;
    text-decoration: none;

}
.item a.activeClass {
    color: #142e61;
}
.item a:hover {
    color: #142e61;
}